:root       /* Création d'une "bibliothèque" pour réutiliser les valeurs plus tard grâve à var() */
{
    --background-dark: #2d3548;
    --text-light: rgba(255,255,255,0.6);
    --text-lighter: rgba(255,255,255,0.9);
    --spacing-s: 8px;
    --spacing-m: 16px;
    --spacing-l: 24px;
    --spacing-xl: 32px;
    --spacing-xxl: 64px;
    --width-container: 1200px;
}

*
{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html
{
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

body
{
    height: 100%;
    overflow-x: hidden;
}









/**************************************************
*********************** HERO **********************
**************************************************/

header
{
    height: 11vh;
    display: flex;
    justify-content: space-between;
}

nav
{
    height: 100%;
    width: 80vw;
}

header ul
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header li
{
    font-size: x-large;
    list-style: none;
    height: 100%;
}

header a
{
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    color: rgb(154, 102, 156);
    font-weight: 550;
}

.page1
{
    background-image: url(images/fond-hero3.jpg);
}

.hero
{
    height: 90vh;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.hero-text-container
{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;
    padding-bottom: 8vh;
}

.hero-text-container p, h1
{
    text-align: center;
}

.hero-text-container h1
{
    font-size: 4vw;
}

.hero-text-container p
{
    font-size: 2vw;
    line-height: 4vw;
}

.hero-text-container a
{
    text-decoration: none;
    border-bottom: dotted 3px rgba(255, 255, 255, 0.5);
    color: white;
}


.hero-text-container p
{
    padding-top: 2vh;
}

#toggle
{
    position: absolute;
    right: 0;
    display: none;
}

header label
{
    display: none;
    z-index: 2;
}













/**************************************************
******************** PORTFOLIO ********************
**************************************************/

.portfolio
{
    align-items: flex-start;
    background-image: linear-gradient(10deg, #83008f 0%, #000000 150%);
    display: flex;
    flex-direction: column;
    min-height: 100%;
    justify-content: center;
    padding: var(--spacing-xxl) var(--spacing-l);
}

.card-grid
{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: var(--spacing-l);
    grid-row-gap: var(--spacing-l);
    max-width: var(--width-container);
    width: 100%;
}

@media(min-width: 600px)
{
    .card-grid{
        grid-template-columns: repeat(2, 1fr); 
    }
}

@media(min-width: 960px)
{
    .card-grid{
        grid-template-columns: repeat(4, 1fr); 
    }
}

.card
{
    list-style: none;
    position: relative;
}

.card:before
{
    content: '';
    display: block;
    padding-bottom: 150%;
    width: 100%;
}

.card__background
{
    background-size: cover;
    background-position: center;
    border-radius: var(--spacing-l);
    bottom: 0;
    filter: brightness(0.75) saturate(1.2) contrast(0.85);
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform-origin: center;
    transform: scale(1) translateZ(0);
    transition: 
        filter 200ms linear,
        transform 200ms linear;
}

.card:hover .card__background
{
    transform: scale(1.05) translateZ(0);
}

.card-grid:hover > .card:not(:hover) .card__background
{
    filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
}

.card__content
{
    left: 0;
    padding: var(--spacing-l);
    position: absolute;
    top: 0;
}

.card__category
{
    color: var(--text-light);
    font-size: 0.9rem;
    margin-bottom: var(--spacing-s);
    text-transform: uppercase;
}

.card__heading
{
    color: var(--text-lighter);
    font-size: 1.9rem;
    text-shadow: 2px 2px 20px rgba(0,0,0,0.2);
    line-height: 1.4;
    word-spacing: 100vw;
}

.card1
{
    background-image: url(images/site-plateforme.png)
}

.card2
{
    background-image: url(images/app-favorites.png)
}

.card3
{
    background-image: url(images/voyages.png)
}

.card4
{
    background-image: url(images/module-connexion.png)
}

.card5
{
    background-image: url(images/livre-or.png)
}

.card6
{
    background-image: url(images/reservation-salles.png)
}

.card7
{
    background-image: url(images/myCMS.png)
}

.card8
{
    background-image: url(images/memory.png)
}












/************************************************
**************** MEDIA QUERIES ******************
************************************************/

@media screen and (max-width: 600px) {

    .hero
    {
        height: 92vh;
    }

    .hero-text-container
    { 
        width: 95vw;
    }

    .hero-text-container
    {
        height: 100%;
        width: 100%;
        padding: 5vh;
        padding-top: 1vh;
    }
    
    header
    {
        height: 9vh;
    }

    nav
    {
        display: none;
    }

    header label
    {
        display: flex;
        font-size: 6vh;
        color: white;
        position: absolute;
        right: 0;
        z-index: 2;
        padding-right: 1.4vh;
    }

    #toggle:checked + nav
    {
        display: flex;
        flex-direction: column;
        z-index: 1;
        width: 100vw;
    }

    #toggle:checked + nav ul
    {
        display: flex;
        flex-direction: column;
        align-items: center; 
        justify-content: space-around;
        padding-top: 5vh;
        padding-bottom: 5vh;
        position: absolute;
        background-color: rgb(19, 0, 44);
        width: 100%;
        z-index: 1;
        height: fit-content;
    }

    #toggle:checked + nav ul li
    {
        padding: 2vh;
        z-index: 2;
    }

    #toggle:checked ~ .hero
    {
        padding-top: 30vh;
    }

    .hero-text-container h1
    {
        font-size: 13vw;
    }
    
    .hero-text-container p
    {
        font-size: 5vw;
        line-height: 8vw;
    }

}